<nav class="store-navbar">

    <div class="container">

        <div class="navbar-wrapper">


            <!-- الروابط -->

            <ul class="navbar-links">


                <li>
                    <a href="{% url 'ecommerce:home' store.slug %}">
                        الرئيسية
                    </a>
                </li>



                <li>
                    <a href="#offers">
                        العروض
                    </a>
                </li>



                <li>
                    <a href="#featured">
                        الأكثر مبيعاً
                    </a>
                </li>



                <li>
                    <a href="#categories">
                        الأصناف
                    </a>
                </li>



                <li>
                    <a href="#contact">
                        تواصل معنا
                    </a>
                </li>


            </ul>


        </div>

    </div>

</nav>