{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}
تم السداد بنجاح
{% endblock %}

{% block content %}

<div class="container mt-4" dir="rtl">

<h2 class="mb-3">
    تم السداد بنجاح!
</h2>

<h4 class="mt-3">
    تفاصيل السداد
</h4>

<table class="table table-bordered table-striped">

    <tr>
        <th>
            المبلغ المدفوع
        </th>

        <td>
            {{ payment.amount }} ريال سعودي
        </td>
    </tr>

    <tr>
        <th>
            تاريخ السداد
        </th>

        <td>
            {{ payment.date|date:"Y-m-d H:i" }}
        </td>
    </tr>

    <tr>
        <th>
            طريقة الدفع
        </th>

        <td>
            {{ payment.method|default:"-" }}
        </td>
    </tr>

</table>


<h4 class="mt-4">
    الفاتورة المرتبطة
</h4>

<table class="table table-bordered">

    <tr>
        <th>
            رقم الفاتورة
        </th>

        <td>
            #{{ invoice.invoice_no }}
        </td>
    </tr>

    <tr>
        <th>
            إجمالي الفاتورة
        </th>

        <td>
            {{ invoice.total }} ريال سعودي
        </td>
    </tr>

    <tr>
        <th>
            المدفوع حتى الآن
        </th>

        <td>
            {{ total_paid }} ريال سعودي
        </td>
    </tr>

    <tr>
        <th>
            المبلغ المتبقي
        </th>

        <td>
            {{ remaining }} ريال سعودي
        </td>
    </tr>

</table>


<div class="mt-4">

    <a href="{% url 'pos:pos_home' %}"
       class="btn btn-primary">

        الرجوع إلى نقاط البيع

    </a>


    <a href="{% url 'pos:pos_invoice_print' invoice.id %}"
       class="btn btn-success"
       target="_blank">

        🖨️ طباعة الفاتورة

    </a>

</div>

</div>

{% endblock %}
