{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% trans "View Receipt Voucher" %}{% endblock %}

{% block content %}

<h4 class="mb-4">
    📄 {% trans "Receipt Voucher No" %} {{ receipt.voucher_no|default:receipt.id }}
</h4>

<table class="table table-bordered">

  <tr>
    <th>{% trans "Customer" %}</th>
    <td>{{ receipt.customer }}</td>
  </tr>

  <tr>
    <th>{% trans "Date" %}</th>
    <td>{{ receipt.date }}</td>
  </tr>

  <tr>
    <th>{% trans "Amount" %}</th>
    <td>{{ receipt.amount }}</td>
  </tr>

  <tr>
    <th>{% trans "Status" %}</th>
    <td>{{ receipt.get_status_display }}</td>
  </tr>

  <tr>
    <th>{% trans "Created By" %}</th>
    <td>{{ receipt.created_by }}</td>
  </tr>

</table>

<a href="{% url 'payments:receipt_list' %}" class="btn btn-secondary">
  ⬅ {% trans "Back" %}
</a>

{% endblock %}