{% extends "quotations/quotation_view.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}

<!-- Auto trigger print window -->
<script>
    window.onload = function () {
        window.print();
    };
</script>

<style>
/* Hide header, sidebar, and all layout elements during printing */
@media print {
    nav, header, .sidebar, .menu-toggle, .navbar, .btn, .dropdown, .d-print-none {
        display: none !important;
    }

    /* Make the page A4 without extra margins */
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
}
</style>

{% endblock %}