{% extends "layout/base.html" %}

{% block title %}لوحة التحكم{% endblock %}

{% block page_title %}لوحة التحكم{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h6 class="text-muted">فواتير المبيعات</h6>
                    <h3>0</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h6 class="text-muted">فواتير المشتريات</h6>
                    <h3>0</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
